*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0D1117;
    color: #FFF;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #010409;
    text-align: center;
    padding: 2em;
    width: 100%;
    margin-bottom: 2rem;
    border-bottom: 0.1px solid #FFF;
}

header a {
    text-decoration: none;
    color: inherit;
}

main {
    text-align: center;
}

.bucket-list {
    min-width: 150px;
    border: 1px solid #151B23;
    padding: 3em;
    margin: 0 5%;
    border-radius: 25px;
    box-shadow: 10px 10px 10px #000;
    text-align: start;
}

/* #new-item {
    background-color: #151B23;
    color: #FFF;
    padding: 0.7em 0.5em;
    margin: 0.5rem auto 2rem auto;
    min-width: 200px;
    width: 50%;
    max-width: 400px;
    border-radius: 100px;
    box-shadow: 10px 10px 10px #000;
    text-align: center;
} */