*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0D1117;
    color: #FFF;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position:sticky;
    top: 0;
    background-color: #010409;
    padding: 2em;
    width: 100%;
    margin-bottom: 2rem;
    border-bottom: 0.1px solid #FFF;
    display: flex;
    align-items: center;
    min-height: 10vh;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin-left: 40%;
    text-overflow: none;
}

main {
    display: flex;
    justify-content: center;
}

.bucket-list {
    min-width: 150px;
    max-width: 600px;
    border: 1px solid #151B23;
    padding: 3em;
    margin: 0 5%;
    border-radius: 25px;
    box-shadow: 10px 10px 10px #000;
}

li:hover {
    color: #007F00;
    text-shadow: 10px -10px 20px ;
}

.inline {
    display: flex;
    gap: 30px;
    padding-bottom: 1em;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #010409;
    text-align: right;
    padding: 1em;
    width: 100%;
    min-height: 5vh;
}

/* @media screen and (minwidth: 768px){
    body {
        font-size: 200%;
        color: #000;
    }
    
    .bucket-list {
        max-width: 900px;
    }
} */

/* #new-item {
    background-color: #151B23;
    color: #FFF;
    padding: 0.7em 0.5em;
    margin: 0.5rem auto 2rem auto;
    min-width: 200px;
    width: 50%;
    max-width: 400px;
    border-radius: 100px;
    box-shadow: 10px 10px 10px #000;
    text-align: center;
} */